<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)='nativeGoogleLogin()'>Google Log in</ion-button>
  <ion-button (click)='facebookLogin()'>Facebook Log in</ion-button>
</ion-content>
