<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="image">
</ion-content>
<ion-footer>
  <ion-button (click)='openImagePicker()'>Select Image</ion-button>
  <ion-button (click)='logOut()'>Logout</ion-button>
</ion-footer>
